<%= stylesheet_link_tag 'show', :media => "all" %>
<div class="info"> 
    <div class="title">
        <% if current_user.id == @user.id %>
            <h1>マイページ</h1>
        <% else %>
            <h1><%= @user.name %>さんのページ</h1>
        <% end %>
    </div>
    <div class="center">
        <div class="left">
            <%= image_tag @user.image_url, width:300 if @user.image? %>
        </div>
        <div class="right">
            <table>
                <tr><td><h2>名前</td><td><%= @user.name %></h2></td></tr>
                <tr><td><h2>学部</td><td><%= @user.faculty %></h2></td></tr>
                <tr><td><h2>学年</td><td><%= @user.grade %>年生</h2></td></tr>
                <tr><td><h2>自己紹介</td><td><%= @user.profile %></h2></td></tr>
            </table>
        </div>
    </div>
    <div class="button">
        <% if current_user.id == @user.id %>
            <%= link_to(edit_user_registration_path) do %>
                <div class="userEditButton">
                    <h2><i class="fas fa-pen"></i></h2>
                </div>
            <% end %>
        <% else %>
            <% if @isRoom == true %>
                <div class="userEditButton">
                    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg"><h2><i class="far fa-comment-dots"></i><h2></a>
                </div>
            <% else %>
                <%= form_for @room do |f| %>
                    <%= fields_for @entry do |e| %>
                        <%= e.hidden_field :user_id, value: @user.id %>
                    <% end %>
                    <button type="submit">
                        <div class="userEditButton">
                            <h2><i class="far fa-comment-dots"></i><h2>
                        </div>
                    </button>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>  
<div class="bottom">
    <p><h1><%= @user.name %> さんが出品した書籍</h1></p>                   
    <div class="books-container">
        <% @user.books.each do |t| %>
            <div class="book">
                <%= link_to(book_path(t.id)) do %>
                    <div class="book-photo">
                        <%=image_tag t.image_url, size:"200×250" if t.image? %>
                        <p>￥<%= t.price %></p>
                    </div>
                    <div class="book-info">
                        『<%= t.title %>』　<%= t.classroom %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>               

    