<%= stylesheet_link_tag "index", :media => "all" %>
<div class="container">
    <h1>書籍一覧</h1>
    <%= form_tag({controller:"books",action:"index"}, method: :get) do %>
        <div class="indexTag">
            <%= text_field_tag :search %>
            <button type="submit">
                <h2><i class="fas fa-search"></i></h2>
            </button>
        </div>
    <% end %>
    <%= page_entries_info @books %>
    <hr>
    <div class="books-container">
        <% @books.each do |t| %>
            <div class="book">
                <%= link_to(book_path(t.id)) do %>
                    <div class="book-photo">
                        <%=image_tag t.image_url, size:"200×250" if t.image? %>
                        <p>￥<%= t.price %></p>
                    </div>
                    <div class="book-info">
                        『<%= t.title %>』　<%= t.classroom %>
                    </div>
                <% end %>
            </div>
            <%= paginate @books %>
        <% end %>
    </div>
</div>