<%= stylesheet_link_tag "index", :media => "all" %>
<div class="container">
    <h1>書籍一覧</h1>
    <%= form_tag({controller:"books",action:"index"}, method: :get) do %>
        <div class="indexTag">
            <%= text_field_tag :search %>
            <%= submit_tag '🔍' %>
        </div>
    <% end %>
    <%= page_entries_info @books %>
    <hr>
    <div class="books-container">
        <% @books.each do |t| %>
            <div class="book">
                <div class="book-photo">
                    <%=image_tag t.image_url, size:"200×250" if t.image? %>
                    <p>￥<%= t.price %></p>
                </div>
                <table class="book-info">
                    <tr><td>題名</td><td>『<%= t.title %>』</td></tr>
                    <tr><td>授業</td><td><%= t.classroom %></td></tr>
                </table>
                <%= link_to "詳細へ", book_path(t.id) %>
                <% if user_signed_in? && current_user.id == t.user_id %>
                    <%= link_to "編集する", edit_book_path(t.id) %>
                    <%= link_to "削除する", book_path(t.id), method: :delete %>
                <% end %>
            </div>
            <%= paginate @books %>
        <% end %>
    </div>
</div>