<%= stylesheet_link_tag 'index', :media => "all" %>
<div class="chat">
  <h1>DM一覧</h1>
  <h6>チャットをする人を選んでください</h6>
  <hr>
  <% @anotherEntries.each do |e| %>
    <%= link_to (room_path(e.room.id)) do %>
      <div class="chatBox">
        <div class="chatBoxImage">
          <%= image_tag e.user.image_url, size:"100×100" if e.user.image? %>
        </div>
        <div class="chatBoxContent">
          <h4><%= e.user.name %></h4>
          </br>
          <h3><%= Message.find_by(id: e.room.message_ids.last).content %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>